.hero17-wrapper {
  display: contents;
}
.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero17-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero17-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.hero17-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero17-row-container1 {
  width: 100%;
}
.hero17-placeholder-image10 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image12 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image13 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image14 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image15 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image16 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image17 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image18 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image19 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image20 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image21 {
  width: 400px;
  height: 400px;
}
.hero17-row-container2 {
  width: 100%;
}
.hero17-placeholder-image22 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image23 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image24 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image25 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image26 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image27 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image28 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image29 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image30 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image31 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image32 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image33 {
  width: 400px;
  height: 400px;
}
.hero17-container2 {
  display: contents;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
  text-align: center;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .hero17-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button1 {
    width: 100%;
  }
  .hero17-button2 {
    width: 100%;
  }
}

.testimonial17-wrapper {
  display: contents;
}
.testimonial17-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial17-container10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.testimonial17-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-container14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-container16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-container18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-fragment25 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
  text-align: left;
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
  text-align: center;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
  text-align: left;
}
.home-fragment24 {
  display: contents;
}
.home-text26 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
  text-align: left;
}
.home-fragment27 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
  text-align: left;
}
.home-fragment20 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
@media(max-width: 991px) {
  .testimonial17-container10 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .testimonial17-container10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial17-card1 {
    width: 100%;
  }
  .testimonial17-card2 {
    width: 100%;
  }
  .testimonial17-card3 {
    width: 100%;
  }
  .testimonial17-card4 {
    width: 100%;
  }
}

.contact10-wrapper {
  display: contents;
}
.contact10-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-max-width {
  width: 2052px;
  align-self: center;
}
.contact10-content1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.contact10-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact10-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 2438px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact10-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact10-container4 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-fragment31 {
  display: contents;
}
.home-text32 {
  display: inline-block;
}
.home-fragment28 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment30 {
  display: contents;
}
.home-text31 {
  display: inline-block;
  text-align: center;
}
.home-fragment29 {
  display: contents;
}
.contact10root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  left: 0px;
  color: var(--dl-color-theme-neutral-dark);
  bottom: 353px;
  position: static;
  align-self: center;
}
@media(max-width: 991px) {
  .contact10-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact10-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .contact10-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.home-fragment32 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment34 {
  display: contents;
}
.home-text35 {
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text39 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text36 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
.home-fragment33 {
  display: contents;
}
.home-text34 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text40 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
.home-fragment37 {
  display: contents;
}
.home-text38 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
  text-align: center;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
  text-align: center;
}
.home-video {
  width: 320px;
  height: 180px;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
  text-align: left;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
  text-align: left;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
  text-align: left;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
  text-align: left;
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
  text-align: center;
}
.home-fragment19 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text26 {
  display: inline-block;
}
.home-fragment25 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment27 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment28 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment29 {
  display: contents;
}
.home-fragment30 {
  display: contents;
}
.home-text31 {
  display: inline-block;
  text-align: center;
}
.home-fragment31 {
  display: contents;
}
.home-text32 {
  display: inline-block;
}
.home-fragment32 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment33 {
  display: contents;
}
.home-text34 {
  display: inline-block;
}
.home-fragment34 {
  display: contents;
}
.home-text35 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text36 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
.home-fragment37 {
  display: contents;
}
.home-text38 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text39 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text40 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
